<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Alugandia - WMS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      </head>
      <body>
      <section class="section">
        <div class="container">
          <h1 class="title">Artículos</h1>
          <p>Listado de artículos a corregir.</p>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <!-- Tabla con los artículos a editar   -->
          {% if articulos %}
          <table class="table is-hoverable is-striped">
            <thead>
              <tr>
                <td>Código</td>
                <td>Descripción</td>
                <td>Tarifa 1</td>
                <td></td>
              </tr>
            </thead>

            <tbody>
              {% for art in articulos %}
              <form action="{% url 'articulos:save' art.id %}" method="post">
                {% csrf_token %}
                <tr>
                  <td> {{ art.codigo }} </td>
                  <td> {{ art.descripcion }} </td>
                  <td> {{ art.tarifa1 }} </td>
                  <td> {% if art.tarifa1 == 0.0 %}
                          <button type="submit" name="button" class="button is-warning">Guardar</button>
                       {% else %}
                          <!-- Cuando ya he guardado el valor, cambio el color del botón -->
                          <button type="submit" name="button" class="button is-success">Guardar</button>
                      {% endif %}
                  </td>
                </tr>
              </form>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
            <p>No hay Articulos.</p>
          {% endif %}

          {% if articulos.has_other_pages %}
          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if articulos.has_previous %}
              <a class="pagination-previous" href="?page={{ articulos.previous_page_number }}">Anterior</a>
            {% endif %}

            <ul class="pagination-list">
            {% for i in articulos.paginator.page_range %}
              {% if articulos.number == i %}
                <li class="pagination-link is-current"><span>{{ i }} </li>
              {% else %}
                <li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>

            {% if articulos.has_next %}
              <a class="pagination-next" href="?page={{ articulos.next_page_number }}">Siguiente</a>
            {% else %}
              <li class="disabled"></li>
            {% endif %}
          </nav>
          {% endif %}

        </div>
      </section>

      </body>
</html>
